*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: url(interrogations.jpg) no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 65%;
    background-color: #ffff;
    padding: 30px;
    border-radius: 30px;
}

.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question{
    padding: 18px 0px;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
    cursor: pointer;

    position: relative;
}

.accordion .content-container .question::after{
    content: '+';

    position: absolute;
    right: -5px;
}

.accordion .content-container .answer{
    padding-top: 15px;
    font-size: 1.4rem;
    line-height: 1.5;
    width: 100%;

    height: 0px;        /*makes anwer text get inside the conainer ('desapear')*/
    overflow: hidden;   /*hides the leaking content due to lack of space*/

    transition: .5s;    
}

/*Javascript styling link */

.accordion .content-container.active .answer{
    height: 150px;
}


.accordion .content-container.active .question{
    font-size: 1.2rem;
    transition: .5s;
}

.accordion .content-container.active .question::after{
    content: '-';
    font-size: 1.6rem;
    transition: .5s;
}


/*the 'active' class is set by the classList toggle with JS */