*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(#03031a, #141453, #1c1c5f, #111169, #1212cb); 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-heading{
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    padding: 2rem;
    color: #f3efef;
}